<a href="https://colab.research.google.com/github/graviteja28/my-codes/blob/master/tcsnqt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [89]:
#factorial using recusion
def fact(n):
    if(n<=1):
        return 1
    else:
        return n*fact(n-1)
n=int(input())
print(fact(n))

5
120

In [90]:
#factorial without recursion
n=int(input())
sum=1
for i in range(2,n+1):
    sum=sum*i
print(sum)

5
120

In [91]:
#area of circle
r=float(input())
pi=22/7
print(pi*r*r)

2.5
19.642857142857142

In [92]:
#leap year or not
year=int(input())
if(year%4==0):
    if(year%100==0):
        if(year%400==0):
            print(year,"is a leap year")
        else:
            print(year,"is not a leap year")
    else:
        print(year,"is a leap year")
else:
    print(year,"is not a leap year")

2016
2016 is a leap year

In [94]:
#gcd of two numbers
a=int(input())
b=int(input())
if(a<b):
    x=a
else:
    x=b
for i in range(1,x+1):
    if(a%i==0 and b%i==0):
        g=i
print("gcd of a and b is",g)

4
12
gcd of a and b is 4

In [95]:
#a given number is a prime number or not
import math
n=int(input())
for i in range(2,int(math.sqrt(n))+1):
    if(n%i==0):
        print(n,"is not a prime number")
        break
else:
    print(n,"is a prime number")

20
20 is not a prime number

In [96]:
#prime numbers in a given range
import math
n=int(input())
for i in range(2,n+1):
    for j in range(2,int(math.sqrt(i))+1):
        if(i%j==0):
            break
    else:
        print(i,end=" ")

20
2 3 5 7 11 13 17 19

In [97]:
#Program to check if a given number is a strong number or not 
def fact(n):
    if(n<=1):
        return 1
    else:
        return n*fact(n-1)
n=int(input())
temp=n
sum = 0
while (n!=0):
    sum=sum+fact(n%10)
    n=n//10
if(sum==temp):
    print(temp,"is a strong number")
else:
    print(temp,"is not a strong number")

145
145 is a strong number

In [98]:
#number palindrome
n=int(input())
temp=n
sum=0
while(n!=0):
  rem=n%10
  sum=sum*10 + rem
  n=n//10
if(sum==temp):
  print(temp,"is a palindrome")
else:
  print(temp,"is not a palindrome")

1221
1221 is a palindrome

In [99]:
#string palindrome
s=input()
if(s==s[::-1]):
  print(s,"is a palindrome")
else:
  print(s,"is not a palindrome")

rama
rama is not a palindrome

In [100]:
n=int(input())
temp1=n
temp2=n
sum=0
count=0
while(temp1!=0):
  count+=1
  temp1=temp1//10
while(temp2!=0):
  rem=temp2%10
  sum=sum + rem**count
  temp2=temp2//10
if(sum==n):
  print(n,"is a amstrong number")
else:
  print(n,"is not a amstrong number")

125
125 is not a amstrong number

In [105]:
#Print all Armstrong numbers between two intervals
def check(n):
  temp1=n
  temp2=n
  sum=0
  count=0
  while(temp1!=0):
    count+=1
    temp1=temp1//10
  while(temp2!=0):
    rem=temp2%10
    sum=sum + rem**count
    temp2=temp2//10
  if(sum==n):
    return True
  else:
    return False
start=int(input())
end=int(input())
for i in range(start,end+1):
  if(check(i)):
    print(i,end=" ")

1
1000
1 2 3 4 5 6 7 8 9 153 370 371 407

In [106]:
#Fibonacci series generation upto N terms
n = int(input())
a = 0
b = 1
sum = 0
while(sum <= n):
     print(sum, end = " ")
     a = b
     b = sum
     sum = a + b

50
0 1 1 2 3 5 8 13 21 34

In [107]:
#decimal to binary
n = int(input())
l=[]
while (n!=0):
  l.append(n%2)
  n = n//2
for i in l[::-1]:
  print(i,end="")

10
1010

In [108]:
#binary to decimal
n = int(input())
sum=0
i=1
while (n!=0):
  rem=n%10
  sum=sum+ rem*i
  n = n//10
  i=i*2
print(sum)

1010
10

In [109]:
#decimal to octal
n = int(input())
l=[]
while (n!=0):
  l.append(n%8)
  n = n//8
for i in l[::-1]:
  print(i,end="")

16
20

In [110]:
#octal to decimal
n = int(input())
sum=0
i=1
while (n!=0):
  rem=n%10
  sum=sum+ rem*i
  n = n//10
  i=i*8
print(sum)

30
24

In [111]:
#Sum of all prime numbers within a range
import math
start=int(input())
end=int(input())
sum=0
if(start<=1):
  start=2
for i in range(start,end+1):
    for j in range(2,int(math.sqrt(i))+1):
        if(i%j==0):
            break
    else:
        sum=sum+i
print(sum)

10
20
60

In [112]:
#reverse of a number
n=int(input())
temp=n
sum=0
while(n!=0):
  rem=n%10
  sum=sum*10 + rem
  n=n//10
print(sum)

156
651

In [113]:
#Reverse a string
s=input()
print(s[::-1])

ram
mar

In [114]:
# Python program to print half pyramid pattern using stars
n = int(input())
for i in range(1,n+1) :
  for j in range(1,i+1) :
    print("*", end=" ")
  print()

5
*
* *
* * *
* * * *
* * * * *

In [115]:
# Python program to print half pyramid pattern using numbers
n = int(input())
for i in range(1,n+1) :
  for j in range(1,i+1) :
    print(j, end=" ")
  print()

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [116]:
# Python program to print diamond pyramid pattern using stars
n = int(input())
for i in range(1,n+1) :
  for j in range(n-i,-1,-1) :
    print(" ", end="")
  for j in range(1,i+1) :
    print("*", end=" ")
  print()
for i in range(n+1) :
  for j in range(1,i+1) :
    print(" ", end="")
  for j in range(n-i,-1,-1) :
    print("*", end=" ")
  print()

5
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [119]:
#Program to find the second smallest element in an array
n=int(input())
l=list(map(int,input().split()))
r=list(set(l))
r.sort()
print(r[1])

5
3 5 3 8 10
5

In [120]:
#Python program to remove duplicate elements in an array
n=int(input())
l=list(map(int,input().split()))
r=list(set(l))
for i in r:
  print(i,end=" ")

10
2 6 4 5 1 2 5 1 6 10
1 2 4 5 6 10

In [121]:
# Swap Two Variables Python One-Liner
a=int(input())
b=int(input())
print("before swapping a and b: ",a,b)
a=a+b
b=a-b
a=a-b
print("after swapping a and b: ",a,b)

15
30
before swapping a and b:  15 30
after swapping a and b:  30 15